body {
    text-align: left;
    font-family: 'Sedgwick Ave Display', monospace;
    padding: 2%;
    padding-left: 75px;
    margin-top: 65px;
}

div#general{
    width: 500px;
    height: 400px;
    background-color: #7c807a;

}

div#secundario{
    float: right;
    width: 400px;
    height: 300px;
    background-color: #f6f1ed;
}