body {
    text-align: left;
    font-family: 'Sedgwick Ave Display', monospace;
    padding: 2%;
    background-image: url("imagenes/fondoBase4.png");
    background-repeat: repeat;
    padding-left: 75px;
    margin-top: 65px;

}

h1{
    font-family: 'Cousine', monospace;
}

table, tr, td, th {
    border: 1px solid #000000;
}
.columna1{
    float: left;
    width: 20%;
    margin: 50px 0px;
}
.columna2{
    float: right;
    margin: 0px 50px;
}


